workflow.json
{
  "name": "Scrum Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "c2123974-2935-4ef9-9165-7a1a99c6c2b6",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-1408, 96]
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "WEB_APP_01",
        "additionalFields": {}
      },
      "id": "629ebd6f-4864-41b1-b988-6f70205dcf38",
      "name": "Fetch Jira Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [-1200, -16],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "ExAC0GLAnnmr2Xg7",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getCommits",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "1b25ca26-83ae-459a-9d7c-6dd0f441a027",
      "name": "Fetch GitHub Commits",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-1200, 192],
      "webhookId": "da5d4829-3a55-4e40-8c49-b1914846472e"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "getRepositoryPullRequestsFilters": {}
      },
      "id": "d3ab918f-1bb3-4167-b36a-b5fbf1568d79",
      "name": "Fetch PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-1200, 336],
      "webhookId": "1527e4be-604f-4c1a-ae27-9832e1dcee8d"
    },
    {
      "parameters": {
        "jsCode": "const commits = $input.all()[0].json;\nconst prs = $input.all()[1].json;\nreturn commits.concat(prs).map(item => ({ json: item }));"
      },
      "id": "3418c599-c36c-4372-a965-1c605d807f6e",
      "name": "Merge Git Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1008, 144]
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "b0d29ad5-8dd5-44c4-b6fd-8ba4ed864917",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-736, 64]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in analyzing development progress.\n\nJira Issue: {{ $json.key }} - {{ $json.fields.summary }}\nDescription: {{ $json.fields.description }}\nStory Points: {{ $json.fields.customfield_10026 || 0 }}\nCommits/PRs: {{ $json.gitData }}\n\nTask:\n- Extract acceptance criteria from description.\n- Match commits/PRs to criteria using semantic understanding.\n- Calculate completed criteria points (proportional to story points).\n- Identify any blockers or review needs.\nOutput in JSON: { completedPoints, pendingPoints, percentage, blockers: [] }",
        "options": {}
      },
      "id": "7c0d38f8-d487-4e1f-ae27-b6a405f2e193",
      "name": "LLM Criteria Mapper",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-528, 64]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {}
      },
      "id": "516b3d6b-b0a7-4a80-885c-62c4f9f7c073",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-528, 272]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nitems.forEach(item => {\n  item.json.estimatedTime = item.json.fields.timetracking.timeSpentSeconds / 3600 || (item.json.commits.length * 0.5); // Estimate 0.5 hours per commit if no time logged\n});\nreturn items;"
      },
      "id": "d4ef2236-6163-43b5-bf91-122a7a9c8029",
      "name": "Time Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, -48]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalPoints = 0, completed = 0, velocity = 0;\nitems.forEach(item => {\n  totalPoints += item.json.storyPoints;\n  completed += item.json.completedPoints;\n  velocity += item.json.estimatedTime;\n});\nconst burndown = (completed / totalPoints) * 100;\nreturn [{ json: { totalPoints, completed, burndown, velocity } }];"
      },
      "id": "0cc2d313-c1bb-4ece-89c8-f79aef3e6bf2",
      "name": "Analytics Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, -16]
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getWorkflowRuns",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "79a7607c-6ff4-402d-8d63-46c2e151cd7c",
      "name": "Deployment Track",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [0, 256],
      "webhookId": "9e548655-0bea-4f09-8344-466098256009"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst blockers = items.filter(item => item.json.percentage < 50 || item.json.blockers.length > 0);\nreturn [{ json: { blockers } }];"
      },
      "id": "72fb5055-f44c-48bd-ac8c-2117395b02ea",
      "name": "Blocker Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 336]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "5ce961d2-b683-4a9c-b10a-9aa882b25ec5",
      "name": "Merge Reports",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [544, 80]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BG4GEBTJ",
          "mode": "list",
          "cachedResultName": "dailystatus"
        },
        "text": "=Daily Report:\nProgress: {{ $json.burndown }}%\nCompleted Points: {{ $json.completed }} / {{ $json.totalPoints }}\nVelocity: {{ $json.velocity }} hours\nBlockers: {{ $json.blockers.map(b => b.key).join(', ') }}",
        "otherOptions": {}
      },
      "id": "02152a59-000e-4c1c-99f8-9fe2a60b243a",
      "name": "Slack Notifier",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [832, 80],
      "webhookId": "61f8012b-1094-469d-b3d1-df4851faab54"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Jira Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch GitHub Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jira Issues": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub Commits": {
      "main": [
        [
          {
            "node": "Merge Git Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Git Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "LLM Criteria Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Criteria Mapper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Criteria Mapper": {
      "main": [
        [
          {
            "node": "Time Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Logger": {
      "main": [
        [
          {
            "node": "Analytics Aggregator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deployment Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deployment Track": {
      "main": [
        [
          {
            "node": "Blocker Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Aggregator": {
      "main": [
        [
          {
            "node": "Merge Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blocker Detector": {
      "main": [
        [
          {
            "node": "Merge Reports",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Reports": {
      "main": [
        [
          {
            "node": "Slack Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PRs": {
      "main": [
        [
          {
            "node": "Merge Git Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd8a75a4-f217-47cb-b425-cb5e7d8fbf43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "327ba8e817a402a29d0601915c1c6828a88b47bf4b2ca73c66e672ea55c7837a"
  },
  "id": "gM7oD5Wz6HmPg9ug",
  "tags": [
    {
      "createdAt": "2025-08-28T07:58:31.254Z",
      "updatedAt": "2025-08-28T07:58:31.254Z",
      "id": "8j0XCkzY8t9RWBqM",
      "name": "reporting"
    },
    {
      "createdAt": "2025-08-28T07:58:31.180Z",
      "updatedAt": "2025-08-28T07:58:31.180Z",
      "id": "CW8mMjS6EECU9XRY",
      "name": "scrum"
    },
    {
      "createdAt": "2025-08-28T07:58:31.226Z",
      "updatedAt": "2025-08-28T07:58:31.226Z",
      "id": "xRpJAIqEcqSdRPqG",
      "name": "automation"
    }
  ]
}
